body {
    margin: 0;
    background: #fbeaea;
    font-family: 'Dancing Script', cursive;
}

/* PORTADAS */
.portadas {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
    align-content: start;
}

/* PORTADA */
.carta-portada {
    width: 240px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    cursor: pointer;
    padding: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: white;
    position: relative;
    transition: transform 0.3s;
}

.carta-portada:hover {
    transform: scale(1.05);
}

/* OSCURECER */
.carta-portada::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
}

.carta-portada h2,
.carta-portada p {
    position: relative;
    z-index: 1;
    margin: 0;
}

/* IMÁGENES PORTADAS */
.portada1 { background-image: url("Cartas_hechas/Diciembre_7.jpeg"); }
.portada2 { background-image: url("Cartas_hechas/Diciembre_7_Tarde.jpeg"); }
.portada3 { background-image: url("Cartas_hechas/Diciembre_7_Noche.jpeg"); }
.portada4 { background-image: url("Cartas_hechas/Diciembre_24.jpeg"); }
.portada5 { background-image: url("Cartas_hechas/Diciembre_31.jpeg"); }
.portada6 { background-image: url("img/portada6.jpg"); }
.portada7 { background-image: url("img/portada7.jpg"); }

/* CARTA ABIERTA */
.carta {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: #fffdf5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* IMAGEN CARTA */
.carta img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

/* BOTÓN */
button {
    background: #e57373;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}
/* BOTÓN VOLVER A OTRA PÁGINA */
.btn-inicio {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #ff8a80;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: transform 0.2s;
}

.btn-inicio:hover {
    transform: scale(1.05);
}

/* CELULAR */
@media (max-width: 600px) {
    .btn-inicio {
        font-size: 14px;
        padding: 8px 14px;
    }
}


/* OCULTAR */
.oculto {
    display: none;
}

/* TABLET */
@media (max-width: 1024px) {
    .portadas {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CELULAR */
@media (max-width: 600px) {
    .portadas {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .carta-portada {
        width: 200px;
        height: 300px;
    }

    button {
        font-size: 16px;
    }
}
